:root {
	--main-bg-color-light: #3d262a;
	--main-bg-color-dark: #2f2124;
	--secondary-bg-color: #F8F5EF;
	--main-accent-color: #B89662;
	--secondary-accent-color: #f2b632;
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Cinzel", serif;
}
